.Task{
    /* background-color: aqua;
    border-left: 8px solid darkblue;
    padding: 10px; */
}
/* *{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(125deg, #FFFFFF 0%, #000000 100%), linear-gradient(200deg, #FFD9E8 0%, #FFD9E8 50%, #DE95BA calc(50% + 1px), #DE95BA 60%, #7F4A88 calc(60% + 1px), #7F4A88 75%, #4A266A calc(75% + 1px), #4A266A 100%), linear-gradient(113deg, #FFD9E8 0%, #FFD9E8 40%, #DE95BA calc(40% + 1px), #DE95BA 50%, #7F4A88 calc(50% + 1px), #7F4A88 70%, #4A266A calc(70% + 1px), #4A266A 100%);
    background-blend-mode: overlay, overlay, normal;
    background-size: 100% 100vh;
    background-position: fixed;
}
.Main{
    width: 400px;
    height: 900px;
    margin: auto;
    background-color: rgba(152, 17, 194, 0.74);
}
.Heading{
    font-size: 32px;
    padding: 10px;
}
.Img{
    background-image: url(./Image/OIP.jpg);
    background-size: 100% 100%;
    margin: 25px;
    width: 350px;
    height: 500px;

}
.Time{
    padding: 10px;
}
.Text{
    padding: 10px;
} */
.Main{
    width: 100%;
    margin-left: 100px;
}
.Logo{
    width: 100%;
    height: 360px;
}
.Img{
    width: 100%;
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(./Image/img.png);
    background-size: 300px 300px;
}
.HeadText{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.TextHeading{
    color:sandybrown;
}

